@charset "UTF-8";
/* CSS Document */
body{
width:100%;
background-color:rgb(185,80,35);
}

}
@charset "UTF-8";
/* CSS Document */
/*画面サイズ*/
body{
width:100%;
height:4000px;


}
/*ヘッダー（東西南北）*/
.header ul{
 list-style:none; 
 padding-right:60px;
 padding-top: 10px;
 padding-bottom:100px; 
 float:right;
 display:flex;
 flex-wrap:wrap;
 width: calc(100%/4);/*←画像を横に4つ並べる場合*/
 padding:10px;/*←画像の左右に5pxの余白を入れる場合*/
}

.header li {
	width: calc(100%/4);/*←画像を横に4つ並べる場合*/
	padding:10px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
}
.header li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
}



.header-list a{
padding-left: 50px;	
}

/* マウスオーバー時 */
.rink-kita:hover, .rink-kita:focus, .rink-kita:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;

}

/* マウスオーバー時 */
.rink-minami:hover, .rink-minami:focus, .rink-minami:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;

}

/* マウスオーバー時 */
.rink-higasi:hover, .rink-higasi:focus, .rink-higasi:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;

}

/* マウスオーバー時 */
.rink-nisi:hover, .rink-nisi:focus, .rink-nisi:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;

}

/*homeボタン*/
.header-logo {
 padding-left:50px; 
 padding-top: 20px;
 padding-bottom: 50px;
 float:left;
 width:10%;


}

/* マウスオーバー時 */
.header-logo:hover, .header-logo:focus, .header-logo:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;

}


/*メイン（トップpと揃える）*/

.main{
width:100%;
display: flex;
flex-direction: column;
text-align : center;
padding-left:25px;
}
.taitle-contents{
position: relative;
width:100%;
top:50px;
bottom:20px;
text-align : center;
}


.contents-item1{
width:100%;
display: flex;
flex-direction: column;
align-items: center;
padding-top:50px;


}

.contents-item{
width:100%;
display: flex;
flex-direction: column;
align-items: center;
padding-top:20px;

}


.reference{
font-size: 15px;
position:relative;
display: flex;
flex-direction: column;
align-items: center;
}
h1{
font-family: "ヒラギノ角ゴシック";
font-size: 18px;
padding-top:20px;
}


h2{
font-size: 12px;
position:relative;
display: flex;
flex-direction: column;
align-items: center;
padding-top:50px;
padding-bottom:35px;

}





